*~
*.iml
*.ipr
*.iws
*.log
*.pyc
*.rdb
.DS_Store
.classpath
.project
pom.xml.*
release.properties
service/fabfile/discussions-api.conf

.idea/
.metadata/
.settings/
bin/
build/
dist/
target/
test-output/
